 .title{
    color:mediumblue;
    text-align: center;
    font-size: 70px; ;
 }

 .card {
    border:3px solid cornflowerblue;
    width: 300px; ;
 }

 .list{
    display: flex;
    gap: 50px;
    list-style: none;
 }

 .colors {
    background-image: linear-gradient(pink, blue,red);
 }